* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a  {
   text-decoration: none;
   color: white;}

   a:hover {
    color: #68D6F4;
    transition: 0.5s;}

.Header {
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background-color: #4C2481;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-flow: column;
}

.Topheader {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo_Wrapper {
  width: 225.52px;
  height: 68.82px;
  margin-top: -20px;
}

.Contacts {
  margin-right: 40px;
  left: 25.69%;
  right: 62.81%;
  top: 38%;
  bottom: 34%;
}

.Phone_wrapper {
  margin-top: 5px;
  width: 16px;
  height: 16px;}

.Profile {
  margin-right: 30px;
  left: 72.94%;
  right: 17.5%;
  top: 42%;
  bottom: 41.33%;
}

.Profile_link {}

.Cart {
  left: 84.38%;
  right: 9.56%;
  top: 42%;
  bottom: 41.33%;
}

.bottom_header {
  height: 75px;
}
