.popular_cards {
  display: flex;
}

@media (max-width: 670px) {
  .popular_cards {
    flex-direction: column;
  }
}
.card {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin: 26px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.card .card_header {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.card .card_header .card_discount {
  position: absolute;
  left: 0;
  background-color: #fd6d6d;
  padding: 4px 8px;
  border-radius: 4px;
}
.card .card_header .card_discount button {
  background-color: #fd6d6d;
  border: none;
  color: #fff;
}
.card .card_header .card_picture img {
  justify-content: center;
  width: 100%;
}
.card .card_checkboxes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card .card_checkboxes .card_stars {
  display: flex;
  width: 90px;
}
.card .card_checkboxes .card_stars .rating_block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card .card_checkboxes .card_stars .rating_block input[type=radio] {
  display: none;
}
.card .card_checkboxes .card_stars .rating_block .label_rating {
  float: right;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../src/star-empty.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2, 2px;
}
.card .card_checkboxes .card_stars .rating_block .label_rating:hover,
.card .card_checkboxes .card_stars .rating_block .label_rating:hover ~ .label_rating,
.card .card_checkboxes .card_stars .rating_block input[type=radio]:checked ~ .label_rating {
  background-position: 50% -25px;
  background: url("../src/star-full.png") no-repeat 50% 0;
}
.card .card_checkboxes .card_stars .card_checkbox {
  display: flex;
}
.card .card_checkboxes .card_stars .card_checkbox .img {
  width: 15px;
  height: 15px;
  display: flex;
}
.card .card_checkboxes .card_stars .card_checkbox .checkbox_text {
  display: flex;
  font-family: Helvetica;
  font-size: 14px;
  color: #343640;
  letter-spacing: 0;
}
.card .card_text {
  font-family: Helvetica;
  font-size: 14px;
  color: #2b2d36;
  letter-spacing: 0;
  margin: 20px;
}
.card .card_weight {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
.card .card_weight .radio_info {
  display: flex;
}
.card .card_weight .radio_info input[type=radio] {
  display: none;
}
.card .card_weight .radio_info .weight_label {
  float: right;
  display: block;
  width: 16px;
  height: 15px;
  background: url("../src/print-icon-empty.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 5px;
}
.card .card_weight .radio_info .weight_label:hover,
.card .card_weight .radio_info .weight_label:hover ~ .weight_label,
.card .card_weight .radio_info input[type=radio]:checked ~ .weight_label {
  background-position: 50% -25px;
  background: url("../src/print-icon-blue.png") no-repeat 50% 0;
}
.card .order_menu {
  display: flex;
  margin: 20px;
}
.card .order_menu .price {
  display: flex;
  flex-direction: column;
}
.card .order_menu .price .strikethrough {
  position: relative;
  font-size: 40px;
  font-family: Helvetica;
  font-size: 16px;
  color: #dfdfdf;
  letter-spacing: 0;
  width: 43px;
  height: 21px;
}
.card .order_menu .price .strikethrough:before {
  border-bottom: 1px solid #fd6d6d;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
}
.card .order_menu .price .real_price {
  font-family: Helvetica;
  font-size: 18px;
  color: #fd6d6d;
  letter-spacing: 0;
}
.card .order_menu .cart .cart_button {
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  background-color: #68d6f4;
  padding: 8px 20px;
  border-radius: 4px;
  margin-left: 88px;
  border: none;
}
.card .order_menu .cart .cart_button:hover {
  width: 110px;
  height: 35px;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  background: #572f8c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popular_container {
  margin: 124px;
  width: 100%;
}

.popular_title {
  margin-left: 152px;
}

/*# sourceMappingURL=main.css.map */
