@import "./menu/styles.scss";
@import "./popular/index.scss";
@import "./new/styles.scss";
@import "./header/header.scss";
// @import "./banner/banner.scss";

:root {
  font-family: Roboto, sans-serif;
  font-style: 15px;
  font-weight: 400;
}

* {
  &, &:befor, &:after {
    transition-property: none;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-delay: 0s;

    &:hover {
      transition-timing-function: ease-in;
    }
  }
}

main {
  color: black;
}
